<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rincon literario libreria</title>

    <!-- Custom fonts for this template-->
        <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-primary sidebar accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= root_path()%>">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-book-open"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Rincón Literario</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Biblioteca -->
            <li class="nav-item active">
                <a class="nav-link" href="<%= library_path%>">
                    <i class="fa-solid fa-book"></i>
                    <span>Biblioteca</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Buscar -->
            <li class="nav-item">
                <a class="nav-link" href="<%= book_search_path%>">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>Buscar</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Reseñas -->
            <li class="nav-item">
                <a class="nav-link" href="<%= reviews_path %>">
                    <i class="fa-solid fa-star"></i>
                    <span>Reseñas</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Amigos -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fa-solid fa-user-group"></i>
                    <span>Amigos</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Notificaciones -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fa-solid fa-bell"></i>
                    <span>Notificaciones</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <% if logged_in?%>
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=current_user.username%></span>
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        <% end %>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 ">Detalles del libro</h1>
                    </div>
                    <%= render 'layouts/messages' %>

                    <!-- Content Row -->
                    <div class="row">

                        <% if @book.present?%>
                                <div class="col-lg-8 mb-4">

                                    <!-- Item libro -->
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3" style="display: -webkit-inline-box;">
                                            <h3 class="m-0 font-weight-bold text-primary"><%=@book['volumeInfo']['title'] %></h3>
                                            <hr>
                                            <%= link_to new_lectura_path, data: { bs_toggle: "modal", bs_target: "#saveBookModal" }, class: "mr-2 btn btn-link", style: "padding: 0; border: none;" do %><button class="btn btn-secondary ml-2" type="button" data-dismiss="modal">Guardar libro<i class="fa-solid fa-plus ml-2"></i></button><% end %>
                                        </div>
                                        <div class="card-body">
                                            <div class="text-center" style="text-align-last: left; display: inline-flex;">
                                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 287px; height: auto;"
                                                    src="<% if @book['volumeInfo']['imageLinks'].present? %>
                                                            <%= @book['volumeInfo']['imageLinks']['thumbnail'] %>
                                                        <% else %>
                                                        https://d3525k1ryd2155.cloudfront.net/h/848/258/116258848.0.m.jpg
                                                        <% end %>" alt="...">
                                                <div style="align-content: center;">
                                                    <p class="h6 mb-0 font-weight-bold text-gray-800">Autores:</p> <span><p>
                                                    <% if @book['volumeInfo']['authors'].present? %>
                                                        <%= @book['volumeInfo']['authors'].join(", ") %>
                                                    <% else %>
                                                        Sin autor
                                                    <% end %></p></span>
                                                    <p class="h6 mb-0 font-weight-bold text-gray-800">Fecha de publicación:</p> <span><p><%= @book['volumeInfo']['publishedDate'] %></p></span>
                                                    <p class="h6 mb-0 font-weight-bold text-gray-800">Editora:</p> <span><p><%= @book['volumeInfo']['publisher'] %></p></span>
                                                    <p class="h6 mb-0 font-weight-bold text-gray-800">Categorías:</p> <span><p>
                                                        <% if @book['volumeInfo']['categories'].present? %>
                                                            <%= @book['volumeInfo']['categories'].join(", ") %>
                                                        <% else %>
                                                            Sin categoría
                                                        <% end %></p></span>
                                                    <% if @book['saleInfo']['listPrice'].present? %>
                                                        <div class="h6 mb-0 font-weight-bold text-gray-800">Precio:</div> <span><p>
                                                            <%= @book['saleInfo']['listPrice']['amount'] %> <%= @book['saleInfo']['listPrice']['currencyCode'] %></p></span>
                                                    <% else %>      
                                                    <% end %>
                                                    <p class="h6 mb-0 font-weight-bold text-gray-800">Calificar</p> 
                                                    <div style="display: inline-flex;">
                                                        <%= form_with url: create_rating_path, method: :get do |form| %>
                                                            <div class="form-group">
                                                                <% 1.upto(5) do |value| %>
                                                                    <label for="star_<%= value %>" class="form-check-label">
                                                                    <i class="fa-regular fa-star text-success"></i>
                                                                    <%= radio_button_tag :rating, 
                                                                    value, 
                                                                    class: "form-check-input d-none",
                                                                        checked: false,
                                                                        id: "star_#{value}",
                                                                        onclick: "form.submit()"%>
                                                                        </label>
                                                                <% end %>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </div>
                              
                                            </div>
                                            <div class="h6 mb-0 font-weight-bold text-gray-800">Descripción:</div> <span><p><%=@book['volumeInfo']['description']%></p></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 mb-4">
                                    <!-- Item Reviews -->
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3" style="display: -webkit-inline-box;">
                                            <h3 class="m-0 font-weight-bold text-primary">Reseñas</h6>
                                            <hr>
                                            <%= link_to create_rating_path, 
                                                data: { bs_toggle: "modal", bs_target: "#createRatingModal" }, 
                                                class: "btn btn-secondary ml-2 mr-2" do %>
                                                    Crear reseña<i class="fa-solid fa-star ml-2"></i>
                                            <% end %>
                                        </div>
                                        <div class="card-body">
                                            <div class="text-center">
                                                <div style="align-content: center;">
                                                    <div style="display: inline-flex;">
                                                        <% 1.upto(5) do |i| %>
                                                                <i class="fa-regular fa-star"></i>
                                                            <% end %>
                                                        <p class="h6 mb-0 font-weight-bold text-gray-800 ml-2">5800 reviews</p> 
                                                    </div>
                                                </div>
                                                <!-- Divider -->
                                                <hr class="sidebar-divider">
                                                
                                                <!-- Tarjetas de reviews -->
                                                <div class="card shadow h-100 py-2 mb-2">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="h5 font-weight-bold text-primary text-uppercase mb-1">
                                                                    Jonas Sousa</div>
                                                                <div class="text-s mb-0 text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu tempus nisl. Maecenas sit amet nulla ut ligula maximus finibus malesuada vel augue. Nullam ultrices sapien non mattis auctor. Aenean feugiat lectus nisi, eget congue velit hendrerit eget. Pellentesque ornare tellus et accumsan congue. Phasellus luctus urna non lobortis faucibus. Duis mollis, orci in elementum egestas, est risus sodales urna, eget lobortis erat urna a nisl. Mauris aliquet eros diam, non posuere felis ornare sed. Pellentesque risus lorem, blandit non est ac, aliquam dapibus justo. Etiam sed purus maximus, laoreet leo quis, porttitor magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sodales libero nec auctor bibendum.</p>
                                                            </div>
                                                            <div class="col-auto">
                                                                <div style="display: inline-flex;">
                                                                    <% 1.upto(5) do |i| %>
                                                                            <i class="fa-regular fa-star"></i>
                                                                        <% end %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a target="_blank" rel="nofollow" href="">Ver todas las reseñas del libro &rarr;</a>
                                        </div>
                                    </div>
                        <% else %>
                            <p>No se encontraron libros.</p>
                        <% end %>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container mt-3 mb-3" style="height: 10px;">
                    <div class="copyright text-center mt-3 mb-3">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    
    <!-- Modal Rating estrellas 
    <%= render 'book_details/confirm_rating' %>-->
    <!-- Modal crear reseña -->
    <%= render partial: 'reviews/create_rating_modal', locals: {book_id: @book['id']}%>
    <!-- Modal Agregar libro -->
    <%= render 'lecturas/new' %>


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Core plugin JavaScript
    <%= javascript_include_tag 'jquery.easing.min' %>-->
    
    <!-- Bootstrap core JavaScript-->
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'bootstrap.bundle.min' %>
    
    <!-- Custom scripts for all pages-->
    <%= javascript_include_tag 'sb-admin-2.min' %>


    <% if @rating %>                                                                  
        <script>
            $('#createRatingModal').modal('show');
        </script>
    <% end %> 
</body>

</html>