<head>
    <%= stylesheet_link_tag 'landing_page' %>
</head>

<div class="container">
        <div class="center">
            <a class="nav-link" href="<%= library_path(@books)%>">
                    <i class="fa-solid fa-book"></i>
                    <span>Biblioteca</span>
            </a>
            <a class="nav-link" href="<%= library_path(@books)%>">
                    <i class="fa-regular fa-star"></i>
                    <span>Reseñas</span>
            </a>
            <a class="nav-link" href="<%= logIn_path %>">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>Log in</span>
            </a>
        </div>

        <div class="main">
            <% if flash[:notice] %>
                <div class="alert alert-success">
                    <%= flash[:notice] %>
                </div>
            <% end %>
            <h1>Rincón Literario</h1>
            <h2>Tu estante de libros online favorito</h2>
        </div>

    <div class="bottom">
        <p>Rincón literario, creado con Ruby on Rails</p>
        <p>2024</p>
    </div>

</div>