<%= form_with(model: @usuario, local: true) do |form| %>
    <% if @usuario.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
          <% @usuario.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <div class="image-container">
        <img src="/path/to/image.jpg" alt="User Image" class="user-image">
      </div>
    </div>
  
    <div class="form-group">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, placeholder: "Ingrese nombre...", class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :apellido %>
      <%= form.text_field :apellido, placeholder: "Ingrese apellido...", class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :descripcion %>
      <%= form.text_area :descripcion, placeholder: "Ingrese una descripción...", class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: "Ingrese un email...", class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= form.submit "Confirmar", class: "btn btn-confirm" %>
      <%= link_to 'Cancelar', usuarios_path, class: "btn btn-cancel" %>
    </div>
  <% end %>
  